<h2 class="title">Информация о событии</h2>
<div class="wrapper">
  <div class="event-container">
    <h3 class="event-title">Название:</h3>
    <p>{{name}}</p>
    <h3 class="event-title">Дата:</h3>
    <p>{{date}}</p>
    <h3 class="event-title">Время:</h3>
    <p>{{time}}</p>
    <h3 class="event-title">Описание:</h3>
    <p>{{description}}</p>
  </div>
  <div class="members-container">
    <h3 class="event-title">Участники:</h3>
    {{#if members}}
      {{#each members}}
        <p>{{username}}</p>
      {{/each}}
    {{/if}}
  </div>

  <span class="button-del">
    Отказаться
  </span>

  <span id="add-members" class="button-add">
    Добавить нового участника
  </span>
</div>
<div id="users-popup" class="users-popup">
  <h1 class="popup-title">Добавление новых участников</h1>
  {{#if users}}
    {{#each users}}
      <a href="/api/addNewUser/{{username}}/{{evId}}" class="freeUser">{{username}}</a>
    {{/each}}
  {{/if}}
  <span id="button-close" class="button-close">
    Закрыть
  </span>
</div>

<script src="/js/popup.js"></script>
